@media (min-width: 1001px) {
    * {
        margin: 0;
        padding: 0;
        color: #fff;
    }

    body {
        background-color: #fff;
    }

    main {
        width: 100%;
    }

    header {
        width: 100%;
        height: 50px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        box-sizing: border-box;
    }

    nav.menu {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 10px;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 0;
    }

    li {
        list-style-type: none;
    }

    li.compor {
        width: 100%;
        height: 30px;
        background-color: #575757;
        border-radius: 8px;
        margin: 1px 2.5%;
        padding: 5px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    li.highlighter{
        background-color:rgb(0, 205, 0);
        
    }

    /*área de pesquisa*/
    div#buscar {
        width: 98%;
        height: 40px;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        margin: 10px auto 20px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    input#search {
        width: 88%;
        border: none;
        border-radius: 30px;
        /*background-color: rgb(0, 255,0);*/
        color: #444;
        font-size: 16px;
        padding-left: 5px;
        margin-right: 10px;
        outline: none;
    }

    img#lupa {
        width: 18px;
        margin-left: 10px;
    }

    /*fim da área de pesquisa*/

    a.listas {
        text-decoration: none;
        color: #fff;
    }

    .emphasis-link {
        list-style-type: none;
        text-decoration: none;
        color: #444;
        font-size: 16px;
        font-weight: bold;
    }

    .emphasis-link:hover {
        color: blueviolet;
    }

    a.menu-link {
        text-decoration: none;
        color: #444444;
        font-size: 16px;
    }

    a.menu-link:hover {
        color: blueviolet;
    }

    /*imagem que está no menu*/

    img.img-menu {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    /*sections*/
    section.hero {
        width: 98.4%;
        height: 400px;
        margin: 10px auto;
        background-color: #ccc;
        background-image: url("../img/fundo-hero.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: -300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    p.versiculo {
        margin-left: 100px;
        font-size: 35px;
    }

    p.atention {
        font-size: 25px;
    }

    p.titulo {
        color: #fff;
        font-size: 25px;
    }

    section.aviso {
        width: 98.4%;
        height: 400px;
        background: #fff;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    div.culto {
        width: 49%;
        height: 400px;
        background: rgb(187, 187, 187);
        background-image: url('../img/culto.png');
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 8px;
    }

    div.atencao {
        width: 49%;
        height: 400px;
        border: 1px solid #444;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p.atention {
        text-align: center;
    }

    /*área de navegação para o hinário, cantor cristão e qrcode*/

    nav.navegation {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 100px;
    }

    .ulNavegation {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    li.liNavegation {
        width: 150px;
        height: 45px;
        background-color: blueviolet;
        border-radius: 6px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    a.ANavegation {
        text-decoration: none;
        color: #fff;
    }

    /*FOOTER*/

    footer {
        width: 100%;
        height: 40px;
        background: #ddd;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        /* Fixa o elemento em relação à viewport */
        bottom: 0;
        /* Alinha-o à parte inferior */
        left: 0;
        /* Alinha-o à margem esquerda */
        margin-top: 190px;
    }

    /*área de listas*/

    #black {
        background-color: #333;
    }

    .container {
        width: 100%;
        height: 100vh;
        background-color: #333;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo-lista {
        margin: 10px auto;
    }

    ul#music {
        width: 95%;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }

    /*página de músicas*/
    #logo-music {
        margin-top: 20px;
    }

    div.musica {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 150px;
    }

    .interprete {
        text-align: center;
        font-size: 50px;
    }

    #voltar {
        padding: 20px;
        background-image: url('../img/voltar.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        color: #fff;
        margin: 10px auto;
    }

    /*página de qrcode*/
    .container-qrcode {
        width: 70%;
        height: 499px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
    }

    #qrcode {
        border-radius: 8px;
    }

    #display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #back {
        margin-top: 70px;
    }
}/*Fim da desktop*/