@media(max-width:500px){
    body{background: #FFE1CF; width: 100%; height: 100vh;}
    *{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .escondeH{
        display: none;
    }

   .container img#logo{
        width: 60%;
        margin: 200px 20% 0 20%;
    }
    .container a#hinario{
        width: 40%;
        height: 20px;
        margin: 10px 30%;
        text-align: center;
        background: #9E150B;
        color: #fff;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 10px 0;
        border-radius: 4px;
    }
    .container a#hcristao{
        width: 40%;
        height: 20px;
        margin: 10px 30%;
        text-align: center;
        background: #9E150B;
        color: #fff;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 10px 0;
        border-radius: 4px;
    }

    img#qrc{
        width: 50%;
        margin: 10px 25%;
        display: none;
    }

    a#qrc{
        width: 40%;
        height: 20px;
        margin: 10px 30%;
        text-align: center;
        background: #9E150B;
        color: #fff;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 10px 0;
        border-radius: 4px;
    }

/*style para lista.html*/
.container img#logo-lista{
    width: 60%;
    margin: -80px 20% 0 20%;
}
.lista{
    width: 90%;
    height: 800px;
    margin: 10px 5%;
}

ul{
    margin: 10px 0  30px 0;
}
li{
    list-style: none;
    margin: 15px 0;
}
.listas{
    width: 100%;
    text-align: center;
    background: #FFE1CF;
    color:#9E150B;
    font-weight: normal;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/*style para músicas*/
.container img#logo-music{
    width: 60%;
    margin:-70px 20% 0 20%;
}
.musica{
    width: 90%;
    height: 100vh;

    margin: -60px 5% 0 5%;
    text-align: center;
}
.musica h1{
    font-size: 18px;
    color:#9E150B;
    text-align: center;
    margin: 20px 0;
}
p{
    font-size: 16px;
    font-weight: normal;
}


a#voltar{
    width: 40%;
    height: 20px;
    margin: -150px 30% 0 30%;
    text-align: center;
    background: #9E150B;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

/*pagina do qrcode*/
#hqrc{
    text-align: center;
    background: none;
    margin-top: 20px;
}
#qrcode{
    width: 90%;
    margin: 10px 5%;
}

a#volta{
    width: 40%;
    height: 20px;
    margin: 50px 30% 0 30%;
    text-align: center;
    background: #9E150B;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}


/*Botão de voltar para as páginas do cantor Cristão e Hinário IBT*/

.voltando{
    display: flex;
    flex-direction: column;
    margin: -60px 0 0 0;
}

.voltando li{
    width: 60%;
    margin: 5px 20%;
    background: #fa5252;
    color:#fff;
    padding: 6px 10px;
    text-align: center;
    border-radius: 6px;
}

.voltando a{
    width: 50%;
    background: #fa5252;
    color:#fff;
    padding: 6px 10px;
    text-decoration: none;
}

/*-----------------------------------------------------------------*/


    
}/*fim da média*/