@media (max-width:600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color:#fff;
    }
 
    header{
        width: 100%;
        height: 40px;
        background: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
/*área de menu*/
    nav{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
    }

    ul{
        width: 95%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 10px;
        align-items: center;
        list-style-type: none;
        margin-top: auto;
        margin-left: 10px;
    }
    a.emphasis-link{
        text-decoration: none;
        color:#444;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }
    a.menu-link{
        text-decoration: none;
        color:#444;
    }

    img.img-menu{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
/*área de menu------------------------------------------*/

    /*área de hero da index*/

    section.hero{
        width: 95%;
        height: 220px;
        background: #ccc;
        background-image: url("../img/fundo-hero.png");
        background-size: 100%;
        margin: 10px auto;
        padding-top: 10px;
        border-radius: 8px;
    }
    /*área de hero da index---------------------------------*/

    /*área section da index*/
    section.aviso{
        width: 95%;
        height: 220px;
        background-size: 100%;
        margin: 10px auto;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div.culto{
        width: 49%;
        height: 220px;
        background:#069;
        background-image: url("../img/fundo-aviso.png");
        background-size: 100%;
        border-radius: 8px;
    }

    div.atencao{
        width: 49%;
        height: 220px;
        background:#fff;
        border: 1px solid #BEBBBB;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /*área de section---------------------------------*/


    /*área de navegação para as músicas*/

    nav.navegation{
        width: 95%;
        height: 150px;
        margin: 10px 2.5% 70px 2.5%;
    }

    ul.ulNavegation{
        width: 95%;
        height: 20px;
        display: flex;
        flex-direction: column;
        margin: 10px 2.5% 10px 2.5%;
    }
    li.liNavegation{
        width: 100%;
        background-color: #3C8AFF;
        border-radius: 4px;
        padding: 10px;
        text-align: center;
        list-style-type: none;
    }
    

    a.ANavegation{
        text-decoration: none;
        color:#000;
    }
    /*área de navegação para as músicas---------------------------------*/

    footer{
        width: 100%;
        height: 40px;
        background: #ddd;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed; /* Fixa o elemento em relação à viewport */
        bottom: 0; /* Alinha-o à parte inferior */
        left: 0; /* Alinha-o à margem esquerda */  
    }

    /*área de listas da músicas*/

    #black{
        background: #333;
    }
    #cabecalho{
        width: 100%;
        height: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div.papel{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .container{
        width: 100%;
        height: 100vh;
        background-color: #333;
        margin-bottom: 70px;
    }
    #logo-lista{
        margin: 10px auto;
    }
    div.lista{
        width: 100%;
        height: 100vh;
        margin:-10px 0 40px 0;
    }
    ul#music{
        width: 95%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
    li.compor{
        width: 95%;
        height: 40px;
        background-color: #575757;
        border-radius: 8px;
        margin: 1px 2.5%;
        padding: 10px;
        list-style: none;
    }

    /*Essa classe é somente para a conferência*/
    .marc{
        color:rgb(0, 255, 0);
        font-weight: bold;
    }

    a{
        text-decoration: none;
        color:#fff;
    }

    div.musica{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .imgmic{
        width: 100%;
        height: 50px;
        display: flex;
        background-color: #333;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0;
    }

    img#logo-music{
        width: 20px;
        margin: 10px auto;
    }

    #voltar{
        padding: 20px;
        background-image: url('../img/voltar.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        color:#fff;
    }
    #votar img{
        width: 40px;
        height: 40px;
    }

    /*área da página ouvir.html*/

    div.video{
        width: 90%;
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .itens-video{
        width: 100%;
        border-radius: 8px;
        margin: 10px 0;
    }

    /*área do qrcode*/
    #hqrc{
        
    }

    /*cantor*/
        #back{
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #back-index{
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #voltar-index{
        padding: 20px;
        background-image: url('../img/voltar.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        color:#fff;
        margin: 10px auto;
    }
}