@media(min-width:501px){
    body{background: #fff; width: 100%; height: 100vh;}
    *{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    .aviso{
        text-align: center;
        color:red;
        margin: 10px 0;
    }

   .container img#logo{
        width: 20%;
        margin: 50px 40% 20px 40%;
    }
    .container a#hinario{
        width: 40%;
        height: 20px;
        margin: 10px 30%;
        text-align: center;
        background: #0077B6;
        color: #fff;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 10px 0;
        border-radius: 4px;
    }
    h1#nome{
        text-align: center;
        font-size: 18px;
        margin: 20px 0;
    }
    a#qrc{
        width: 40%;
        height: 20px;
        margin: 10px 30%;
        text-align: center;
        background: #0077B6;
        color: #fff;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 10px 0;
        border-radius: 4px;
    }

    a#hcristao{
        width: 40%;
        height: 20px;
        margin: 10px 30%;
        text-align: center;
        background: #0077B6;
        color: #fff;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 10px 0;
        border-radius: 4px;
    }

/*style para lista.html*/
.container img#logo-lista{
    width: 10%;
    margin: 20px 45% 20px 45%;
}
.lista{
    width: 90%;
    height: 800px;
    margin: 10px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    list-style: none;
    margin: 15px 0;
}
.listas{
    width: 100%;
    text-align: center;
    background: #FFE1CF;
    color:#9E150B;
    font-weight: bolder;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/*style para músicas*/
.container img#logo-music{
    width:20%;
    margin:-70px 40% 0 40%;
}
.musica{
    width: 90%;
    height: 100vh;

    margin: -60px 5% 0 5%;
    text-align: center;
}
 h1{
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}
.musica h1{
    font-size: 18px;
    color:#0b3a9e;
    text-align: center;
    margin: 20px 0;
}

p{
    font-size: 16px;
}

p.versiculo{
    width: 80%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    margin: 10px auto;
}

p.atention{
    background-color: red;
    border-radius: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 10px auto;
    padding: 5px;

}


a#voltar{
    width: 40%;
    height: 20px;
    margin: -150px 30% 0 30%;
    text-align: center;
    background: #9E150B;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

/*página do qrcode*/

#hqrc{
    text-align: center;
    background: none;
    margin-top: 20px;
}
#qrcode{
    width: 30%;
    margin: 10px 35%;
}
a#volta{
    width: 20%;
    height: 20px;
    margin: 50px 40% 0 40%;
    text-align: center;
    background: #9E150B;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

/*Botão de voltar para as páginas do cantor Cristão e Hinário IBT*/

ul.voltando{
    width: 90%;
    height: 70px;
    display: inline-block;
    margin: 20px auto;
}
#hino{
    background: #0077B6;
}
#cantor{
    background-color: #0077B6;
}

.voltando li{
    width: 20%;
    margin: 5px 40%;
    background: #0077B6;
    color:#fff;
    padding: 6px 10px;
    text-align: center;
    border-radius: 6px;
}

.listas{
    width: 100%;
    text-align: center;
    background: #fff;
    color:#0b3a9e;
    font-weight: normal;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#cinco{
    padding: 10px 0;
}

.container img#logo-music{
    width: 5%;
    margin:60px auto;
}



.voltando a{
    width: 50%;
    background: #9E150B;
    color:#fff;
    padding: 6px 10px;
    text-decoration: none;
}


a#voltar{
    width: 40%;
    height: 20px;
    margin: -10px 30% 0 30%;
    text-align: center;
    background: #0077B6;
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
#back{
    width: 40%;
    margin: 10px auto;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 25px;
}
/*-----------------------------------------------------------------*/


    
}/*fim da média*/